// this is just a sample! everything will get deleted here

$button-radius: 5px;

$primary-col: blue; // how about violet?
$primary-col-shadow: rgba(darken($primary-col, 10%), 0.7);
$primary-col-shadowbase: rgba(darken($primary-col, 20%), 0.4);

$primary-col-text: white;

$alt-col: #ff00a2;